$bg-navigationHome-color:#222831;
$navigationHome-color:#30475e;
$bg-navigationHometems-color:#dddddd;

//navHome variable
$br-color:red;
$hover-text-color:rgb(0, 26, 255);
$bg-leftside-color:#fffeee;

//hardware
$tbl-head-shadow-color-red:red;
$tbl-head-shadow-color-blue:blue;

//programing cp
$tbl-footer-shadow-color-orange:orange;
$tbl-footer-shadow-color-yellow:yellow;

//clean code
$br-parent-color:rgb(255, 10, 104);
$br-img-color:rgb(138, 148, 137);

//about
$side-color-dark:#ffeeee;

//contactinfo
$bg-hr-color:#00ff00;

//contact info -> ai page
$bg-p-color:#fffeee;
$bg-left-ai:#ffeeee;
